<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://www.paypal.com/sdk/js?components=buttons,hosted-fields&client-id=<%= clientId %>"
      data-client-token="<%= clientToken %>"
    ></script>
  </head>

  <body>
    <div class="row row-checkout">
      <div class="col-product">
        <h2>Build Apps with PayPal (E-Book)</h2>
        <p>By PayPal Developer Relations</p>
        <p class="checkout-total">$13.99</p>
        <img
          height="480"
          class="book"
          src="/ebook.jpg"
          alt="Build Apps with PayPal (Book Cover)"
        />
      </div>
      <div class="col-form">
        <div id="paypal-button-container" class="paypal-button-container"></div>
        <div class="card_container">
          <form id="card-form">
            <label for="cardholder-name">Name on Card</label>
            <input
              type="text"
              id="card-holder-name"
              name="card-holder-name"
              autocomplete="off"
              placeholder="card holder name"
            />
            <label for="card-number">Card Number</label>
            <div id="card-number" class="card_field"></div>
            <div class="row row-space">
              <div>
                <label for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class="card_field"></div>
              </div>
              <div>
                <label for="cvv">CVV</label>
                <div id="cvv" class="card_field"></div>
              </div>
            </div>
            <div class="row row-space">
              <div>
                <label for="card-billing-address-zip">Zipcode</label>
                <input
                  type="text"
                  id="card-billing-address-zip"
                  name="card-billing-address-zip"
                  autocomplete="off"
                  placeholder="zip / postal code"
                />
              </div>
              <div>
                <label for="card-billing-address-country">Country Code</label>
                <input
                  type="text"
                  id="card-billing-address-country"
                  name="card-billing-address-country"
                  autocomplete="off"
                  value="US"
                  maxlength="2"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <button value="submit" id="submit" class="btn btn_pay">
                Pay $13.99
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="app.js" type="module"></script>
  </body>
</html>
